* {
    box-sizing: border-box;
    
}

html {
    --menuTextColor: #fafafa;
    --headlines: #0c4a6e;
    --main-text: #0ea5e9;
    --menuColor: #0284c7;
    --offset: 40px;
    font-family: 'Open Sans', sans-serif;
    --primary-font-family: 
}

.photophone1 {
    background-image: url("images/hero.png");
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
}

.conteiner {
    width: 100%;
    margin: 0 auto;
    background-color: var(--menuColor);
}

.conteiner2 {
    width: 100%;
    margin: 0 auto;
}

.navigation {
    display: flex;
    position: sticky;
    top: 0;
    max-width: 1000px;
    width: 100%;
    color: var(--menuTextColor);
    padding: 15px 0;
    margin: 0 auto; 
}

a {
    text-decoration: none;
    color: var(--menuTextColor);
}

.navigation__name {
    width: calc(100% / 2);
    font-weight: 700;
}

.navigation__item {
    width: calc(100% / 6);
    font-size: 14px;
    font-weight: 500;
}

.main {
    max-width: 1000px;
    width: 100%; 
    margin: 0 auto; 
}

.main-title {
   width: calc(100% / 2 - var(--offset)); 
   font-size: 36px;
   font-weight: 700;
   margin-top: 10%;
   color: #171717;    
}

p span {
    color: #0284c7;
}

.main-text {
    width: calc(100% / 2 - var(--offset)); 
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    color: #0369a1;
    margin-top: 4%;
    }

.button {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 50px 10px 50px;
    background-color: #0ea5e9;
    color: #fafafa;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #737373;
   
}

.services-section {
    max-width: 1000px;
    width: 100%; 
    margin: 0 auto; 
}

.our-services {
    color: var(--headlines);
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

#services {
    color: #0369a1;
    font-weight: 700;
    font-size: 26px;
}

#aboutUs {
    color: #0369a1;
    font-weight: 700;
    font-size: 26px; 
}

#reviews {
    color: #0369a1;
    font-weight: 700;
    font-size: 26px;  
}

.service-list {
    background-color: #0284c7;
    display: flex;
    width: 100%;
    margin: 0 auto; 
    height: 200px;
}

.IMG-service-list {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
   
    
}

.item-img {
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    
    
      
   
}
.item-img1 {
    background-size: cover;
    
    width: calc(100% / 2);
    border-radius: 10px;
    align-items: center;
    margin-right: 50px;
  background: linear-gradient(to right, #4597c778 20%, transparent 100%), url("images/service-3.png");
    
}

.item-img2 {
    background-size: cover;
    background: linear-gradient(to right, #4597c778 20%, transparent 100%), url("images/service-2.png");
    width: calc(100% / 2);
    border-radius: 10px;
    align-items: center;
    margin-right: 50px;
}

.item-img3 {
    background-size: cover;
    background: linear-gradient(to right, #4597c778 20%, transparent 100%), url("images/service-1.png");
    width: calc(100% / 2);
    border-radius: 10px;
    align-items: center;
}

 .number-img {
    padding-left: 5%;
    padding-top: 5%;
    color: #fafafa;
    font-weight: 500;
    font-size: 16px;
    
 }

 .text-img {
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 5%;
    width: calc(100% / 2);
    font-weight: 400;
    font-size: 12px;
    color: #fafafa;
    line-height: 1.2;
 }

 .icon-img {

 }

.icon-bigArrow {
    width: 36px;
    height: 36px;
    margin-top: 5%;
   margin-left: 20px;
   margin-right: 20px;
  
  
}

.photophone2 {
  background-image: url("images/background-1.png");
    background-position: top;
    background-size: cover;
    display: flex; */
 
   
}

.about-clinic-section {
    max-width: 1000px;
    width: 100%; 
    margin: 0 auto;
    color: #171717;
    font-size: 18px;
   font-weight: 500;
   line-height: 1.5;
   text-align: justify;
}

.text{
    margin-bottom: 15px;
}

.for-button2 {
display: flex;
justify-content: flex-end;
}

.button2 {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 50px 10px 50px;
    background-color: #0ea5e9;
    color: #fafafa;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #737373;
    margin-left: auto;
}

.your-feedback {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
    max-width: 1024px;
    width: 100%;
    
}

.review {
    width: calc(100% / 12 * 6 - var(--offset));
    padding: 20px;
    border: 1px solid #d4d4d4;
    display: flex;
    border-radius: 10px;
    margin: calc(var(--offset) / 2);
   box-shadow: 1px 1px 1px 1px #e5e5e5;

}

.review-image-style {
    width: 80px;
    height: 80px;
}

.patient-name {
    font-size: 18px;
    font-weight: 700;
    color: #0284c7;
    padding-left: 10px;
}

.review-patient {
    font-size: 12px;
    line-height: 1.3;
    padding-left: 10px;
    padding-top: 10px;
    color: #262626;
   
}