* {
    box-sizing: border-box;
    
}

html {
    --menuTextColor: #fafafa;
    --headlines: #0c4a6e;
    --main-text: #0ea5e9;
    --menuColor: #0284c7;
    --offset: 40px;
    font-family: 'Open Sans', sans-serif;
    --primary-font-family: 
}

.photophone1 {
    background-image: url("images/hero.png");
    background-position: top;
    background-size: cover;
    
    display: flex;
    align-items: center;
  
}

.conteiner {
  
    width: 100%;
    margin: 0 auto;
    background-color: var(--menuColor);
    
}

.conteiner2 {
    width: 100%;
    margin: 0 auto;
}

.navigation {
    display: flex;
    position: sticky;
    top: 0;
    max-width: 1000px;
    width: 100%;
    color: var(--menuTextColor);
    padding: 15px 0;
    margin: 0 auto; 
    
}

a {
    text-decoration: none;
    color: var(--menuTextColor);
}

.navigation__name {
    width: calc(100% / 2);
    font-weight: 700;
    
    
    
}

.navigation__item {
    width: calc(100% / 6);
    font-size: 14px;
    font-weight: 500;
   
   
    
}

.main {
    max-width: 1000px;
    width: 100%; 
    margin: 0 auto; 
}

.main-title {
   width: calc(100% / 2 - var(--offset)); 
   font-size: 36px;
   font-weight: 700;
   margin-top: 10%;
   color: #171717;    
}

p span {
    color: #0284c7;
}
.main-text {
    width: calc(100% / 2 - var(--offset)); 
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    color: #0369a1;
    margin-top: 4%;
    }

.button {
    margin-top: 40px;
    padding: 10px 50px 10px 50px;
    background-color: #0ea5e9;
    color: #fafafa;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 10px;
}